<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30008">
        <setting label="30009" type="text"   id="username" default=""/>
        <setting label="30010" type="text"   id="password" option="hidden"  enable="!eq(-1,)" default=""/>
        <setting type="sep"/>
        <setting id="debug" type="bool" label="30011" default="false"/>
    </category>
</settings>